body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}

nav {
  display: flex;
  justify-content: center;
  color: red;
  padding: 50px;
}

a {
  margin: 15px;
  text-decoration: none !important;
  font-size: 20px;
  color: white;
}

a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.janus {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.tabla-producto {
  margin: auto auto;
  width: 70%;
  color: white;
  background-color: #774747;
  border-radius: 7px;
  max-height: 400px;
  overflow-y: scroll;
  display: grid;
  text-align: center;
}

td {
  padding: 3px;
}
tr {
  background-color: #9c5b5b;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #994747;
}

.productoForm {
  padding: 50px;
  display: grid;
  margin: auto auto;
  width: 30%;
  color: white;
  background-color: #774747;
  border-radius: 7px;
}

.productoForm input,
select {
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.productoForm button {
  padding: 5px;
  color: white;
  background-color: green;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.productoForm button:hover {
  padding: 5px;
  color: white;
  background-color: green;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.tipoProductoLink {
  text-align: center;
  padding: 5px;
}

.alertaCamposInsert {
  text-align: center;
  color: red;
  font-size: 22px;
}
